@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&family=Caveat&family=Cedarville+Cursive&family=Comfortaa:wght@500&family=Gloria+Hallelujah&family=Indie+Flower&family=Nothing+You+Could+Do&family=Oooh+Baby&family=Reenie+Beanie&family=Shadows+Into+Light&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

body {
  margin: 0;
}

.root {
  isolation: isolate;
}

html,
body {
  @apply m-0 font-sans;
  letter-spacing: -0.15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}

.font-comfortaa {
  font-family: 'Comfortaa', sans-serif !important;
}

html.dark,
html.dark body {
  background-color: #0a0a0a;
}
